mixin card(proposails, sell, imgSrc, p)
    .col-sm-12.col-lg-6.col-xl-4
        figure
            figcaption.cards
                .broshure__card-img
                    img(src=imgSrc)
                h3= proposails
                b= sell
                p= p

mixin card(proposails, sell, imgSrc, p)
    .col-sm-12.col-lg-6.col-xl-4
        figure
            figcaption.cards
                .broshure__card-img
                    img(src=imgSrc)
                h3= proposails
                b= sell
                p= p
                
mixin card(info, sell, imgSrc, test, order)
    .col-md.col-12
        figure
            figcaption.special
                .special__card-img
                    img(src=imgSrc)
                .special-card-padding
                    h3= info
                    p.mb-0= test
                    a.fw-normal.grn(href="#")= sell
                    a.position-relative.fw-normal.ps-5.order(href="#")= order